@import "tailwindcss";

:root {
  --color-primary: #0f766e; /*Use for: primary buttons, active menu item, links, key icons.*/
  --color-primary-light: #5eead4; /*Use for: hovers, subtle highlights, charts.*/
  --color-primary-dark: #115e59; /*Use for: headers, navbar background on desktop.*/

  --color-bg: #f9fafb;
  --color-surface: #ffffff; /*Use for: cards, panels, forms.*/
  --color-border: #e5e7eb;

  --color-text: #111827;
  --color-text-muted: #6b7280;

  --color-success: #16a34a;
  --color-warning: #eab308;
  --color-error: #dc2626;
  --color-info: #2563eb;
}
